*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header
a header é a mãe de todo o conteudo que está dentor dela.
-imagem de logo
-o titulo vai na web 
-nav
*/
/*Nav
A Nav é a mãe da minha UL*/

/*UL
a UL é filha da Nav*/
header{
    /**/
    background-color: gray;
    display: flex;
    justify-content: space-around;
    /*Todo o conteudo(filhos) tenham um espaçamento
    na horizontal*/
    align-items: center;
}

.logo{

    border-radius: 50%;
}
nav{
    width: 30%;
    background-color: aqua;
}
h1{}

ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border: solid red;
    align-items: center;
}
li{ 
    list-style: none;
    border: solid purple;
    font-weight: 600;
    font-size: 1.2rem;
}
/*Responsivo = mobile*/
@media (min-width:201px) and (max-width:500px) 
{
    header{
        display: flex;
        flex-direction: column;
        background-color: orange;
    }
    .logo{
        width: 50%;
    }
    nav{
        background-color: transparent;

    }
    ul{
        display: flex;
        flex-direction: column;
        border: none;
    }
    li{
        border: none;
        color: white;
        font-size: 1.5rem;
    }
    .galeria{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    
    }
    .imgGaleria{
    margin-top: 1rem    ;
    }
}
/*Responsivo - Desktop*/
@media(min-width: 1501px) and (max-width: 1800px)
{   

    header{
        /**/
        height: 30vh;
        background-color: purple;
        display: flex;
        justify-content: space-around;

        align-items: center;
    }
    
    .logo{

        border-radius: 50%;
    }
    h1{
        color: orange;
        font-size: 2rem;
    }
    nav{
        width: 50%;
        background-color: transparent
    }
    
    ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        border: none;
        align-items: center;
    }
    li{ 
        list-style: none;
        border: solid purple;
        font-weight: 600;
        font-size: 2rem;
        color: white;
    }
    .galeria{
        background-color: orange;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
    
    }
    .imgGaleria{
   /*width: 20%;
   height: 25vh;*/
   width: 550px;
   height: 350px;
   margin-top: 1rem;
    }
}